@import "primeflex/primeflex.css";
@import "primeicons/primeicons.css";
:root {
  --bg-color: #1a1a1a;
  --text-color: #f5f5f5;
  --card-bg: #222;
  --primary-color: #4f46e5; /* example blue */
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

.card {
  background-color: var(--card-bg);
  color: var(--text-color);
}

